<div ng-controller="MainController">
    <nav class="navbar navbar-inverse col-md-12">
        <div class="navbar-header col-md-3">
            <a class="navbar-brand" ui-sref="/">First angular App</a>
        </div>
        <ul class="nav navbar-nav col-md-8">
            <li><a ui-sref="home">Home</a></li>
            <li><a ng-if="varVal" ui-sref="login">Login</a></li>
            <li><a ui-sref="nerds">Nerd</a></li>
            <li><a ng-show="varAdmin" ui-sref="admin">Admin Page</a></li>
            <li><a ng-show="varUser" ui-sref="user">User Page</a></li>
        </ul>
        <div class="col-md-1 margin-logout">
            <a class="color-logout" href="#" ng-click="logout()">Logout</a>
        </div>
    </nav>
</div>