<div class="wrapper">
    <form class="form-signin" ng-submit="checkUser()">
        <h2 class="form-signin-heading">Login Here</h2>
        <input type="email" class="form-control" name="username" placeholder="Email Address" ng-model="user.userName" required="" autofocus="" />
        <input type="password" class="form-control" name="password" placeholder="Password" required="" ng-model="user.password"/>
            <input type="radio"  name="typeOfUser" value="Admin" ng-model="user.status">Admin
            <input type="radio"  name="typeOfUser" value="User" nd-model="user.status">User
        <label class="checkbox">
            <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe" > Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
</div>